.fa-angle-left:before {
    content: "<";
}

.fa-angle-right:before {
    content: ">";
}

.solid-robot-icon {
    background-image: url("../../assets/img/solid_robot.png");
}

.subcat-nav-link {
    margin-left: 2rem !important;
    font-size: 0.75rem !important;
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:after {
    content: "\2713" !important;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.8s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.bg-mkb {
    background-color: #9b0028;
}